.inputs {
display: flex;
flex-direction: column;
}

.inputs label {
    font-size: 14px;
    padding: 8px 0;
    margin-bottom: 8px ;
}

.inputs input {
    background: linear-gradient(90deg, rgba(0, 73, 141, 0.32) 0%, rgba(0, 0, 0, 0.32) 50%, rgba(247, 148, 30, 0.32) 100%);
    /*  background-color: #ffffff30; */
    margin-bottom: 8px;
    padding: 8px;
    width: 95%;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ded5d550;
}

.inputs input::placeholder {
    font: 100;
    font-size: 12px;
    color: #fff;
}